* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

header {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  flex-wrap: wrap;
}

.search-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: #ffffff;
  height: 50px;
  padding: 10px;
  border-radius: 40px;
  width: 600px;
  height: 30px;
  border: 1px solid #cecece;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box a {
  position: absolute;
  left: 545px;
  padding: 19px;
  border: 1px solid #cecece;
  background: #e6e6e6;
  width: 55px;
  height: 11px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.loupe-white {
  position: absolute;
  bottom: 7px;
  left: 13px;
  width: 20px;
  height: 20px;
}

.search-text {
  background: none;
  border: 0;
  outline: 0;
  width: 570px;

  font-size: 16px;
}

.img-right .usuario {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.img-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.img-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 24px;
  cursor: pointer;
}

#right1 {
  width: 24px;
  height: 24px;
}

#right2 {
  width: 24px;
  height: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 952px;
  height: 780px;
  position: absolute;
  top: 84px;
  left: 75px;
}

.main-content {
  width: 952px;
  height: 780px;
  position: relative;
}

.main-content h1 {
  width: 871px;
  height: 23px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  font-family: "Roboto";
  padding-top: 10px;
  padding-bottom: 40px;
}

.video-actions {
  width: 902px;
  height: 42px;
  display: flex;
  flex-direction: row;
}

.video-infos {
  width: 180px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.text {
  display: flex;
  flex-direction: column;
}

.video-infos .p1 {
  width: 106px;
  height: 32;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  left: 50px;
}

.video-infos .p2 {
  width: 106px;
  height: 32;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  left: 50px;
}

.video-actions img {
  position: absolute;
  left: 0px;
}

.video-infos .button {
  display: flex;
  border: 1px solid red;
  background: #cc0000;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  position: absolute;
  width: 159px;
  height: 40px;
  left: 198px;
  border-radius: 0;
  cursor: pointer;
}

.video-actions .like {
  position: absolute;
  left: 400px;
}

.video-actions .text-like {
  position: absolute;
  width: 35px;
  height: 16px;
  left: 431px;
  top: 604px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
}

.video-actions .dislike {
  position: absolute;
  left: 500px;
}

.video-actions .text-dislike {
  position: absolute;
  width: 80px;
  height: 16px;
  left: 535px;
  top: 604px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
}

.video-actions .share {
  position: absolute;
  left: 640px;
}

.video-actions .text-share {
  position: absolute;
  width: 80px;
  height: 16px;
  left: 672px;
  top: 604px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
}

.video-actions .download {
  position: absolute;
  left: 797px;
}

.video-actions .text-download {
  position: absolute;
  width: 80px;
  height: 16px;
  left: 830px;
  top: 604px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
}

.video-actions .infos {
  position: absolute;
  width: 600px;
  height: 16px;
  top: 660px;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
}

.video-actions .description {
  position: absolute;
  width: 510px;
  height: 64px;
  top: 690px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  position: absolute;
  width: 750px;
  height: 1050px;
  left: 1100px;
  top: 84px;
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 20px;
}

.side-bar img {
  position: absolute;
  left: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item1 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item1 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 58px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item1 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 80px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img2 {
  position: absolute;
  left: 40px;
  top: 130px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item2 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 130px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item2 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 154px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item2 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 180px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img3 {
  position: absolute;
  left: 40px;
  top: 240px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item3 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 240px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item3 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 280px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item3 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 300px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img4 {
  position: absolute;
  left: 40px;
  top: 350px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item4 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 350px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item4 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 390px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item4 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 415px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img5 {
  position: absolute;
  left: 40px;
  top: 465px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item5 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 465px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item5 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 505px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item5 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 530px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img6 {
  position: absolute;
  left: 40px;
  top: 580px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item6 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 580px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item6 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 620px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item6 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 640px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img7 {
  position: absolute;
  left: 40px;
  top: 695px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item7 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 695px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item7 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 720px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item7 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 745px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img8 {
  position: absolute;
  left: 40px;
  top: 810px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item8 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 810px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item8 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 850px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item8 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 870px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .element-img9 {
  position: absolute;
  left: 40px;
  top: 930px;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .text-element1-item9 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 930px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  font-family: "Roboto";
}

.side-bar .text-element2-item9 {
  width: 196px;
  height: 32px;
  position: absolute;
  left: 220px;
  top: 970px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}

.side-bar .text-element3-item9 {
  width: 170px;
  height: 28px;
  position: absolute;
  left: 220px;
  top: 990px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-family: "Roboto";
}
